.draggable-list {
  margin-top: 1rem;
  @include flex-column(center,flex-start);
  flex-wrap: wrap;
  height: 100%;

  .list-item,
  .list-placeholder,
  .input-wrapper {
    width: 49%;
    margin: 0.5rem auto;
  }
  .list-item,
  .list-placeholder,
  .list-input {
    transition: 0.5s ease;
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
  }

  @include mq(900px) {
    .list-item,
    .list-placeholder,
    .input-wrapper {
      width: 80%;
    }
  }
  @include mq(600px) {
    .list-item,
    .list-placeholder,
    .input-wrapper {
      width: 90%;
    }
  }
}
